<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questions</key>
	<array>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>blurb</key>
			<string>Mr. Trump what is your plan to fight ISIS?</string>
			<key>category</key>
			<string>Foreign Policy </string>
			<key>choices</key>
			<dict>
				<key>left</key>
				<integer>0</integer>
				<key>right</key>
				<integer>1</integer>
			</dict>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>blurb</key>
			<string>Mr. Trump, do you still believe climate change is a hoax?</string>
			<key>category</key>
			<string>International</string>
			<key>choices</key>
			<dict>
				<key>left</key>
				<integer>2</integer>
				<key>right</key>
				<integer>3</integer>
			</dict>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>blurb</key>
			<string>Mr. Trump, why do you want to build a wall?</string>
			<key>category</key>
			<string>International</string>
			<key>choices</key>
			<dict>
				<key>left</key>
				<integer>4</integer>
				<key>right</key>
				<integer>5</integer>
			</dict>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>blurb</key>
			<string>Mr.Trump, do you believe Hillary Clinton is capable of being the President of the United States?</string>
			<key>category</key>
			<string>Politics</string>
			<key>choices</key>
			<dict>
				<key>left</key>
				<integer>6</integer>
				<key>right</key>
				<integer>7</integer>
			</dict>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>blurb</key>
			<string>Mr. Trump how would you categorize your relationship with the African-American community?</string>
			<key>category</key>
			<string>Race</string>
			<key>choices</key>
			<dict>
				<key>left</key>
				<integer>8</integer>
				<key>right</key>
				<integer>9</integer>
			</dict>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>blurb</key>
			<string>What is your opinion of the Democratic Presidential nominee Hillary Clinton?</string>
			<key>category</key>
			<string>Politics</string>
			<key>choices</key>
			<dict>
				<key>left</key>
				<integer>10</integer>
				<key>right</key>
				<integer>11</integer>
			</dict>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>6</integer>
			<key>blurb</key>
			<string>Texas Senator Ted Cruz told Republicans at the National Convention to &quot;vote their conscience&quot;. Do you have a response to this?</string>
			<key>category</key>
			<string>Politics</string>
			<key>choices</key>
			<dict>
				<key>left</key>
				<integer>12</integer>
				<key>right</key>
				<integer>13</integer>
			</dict>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>7</integer>
			<key>blurb</key>
			<string>Mr. Trump, do you have any comments on your primary loss in Iowa?</string>
			<key>category</key>
			<string>Politics</string>
			<key>choices</key>
			<dict>
				<key>left</key>
				<integer>14</integer>
				<key>right</key>
				<integer>15</integer>
			</dict>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>8</integer>
			<key>blurb</key>
			<string>Mr. Trump, is it true you used your position to sexually assault women?</string>
			<key>category</key>
			<string>Women</string>
			<key>choices</key>
			<dict>
				<key>left</key>
				<integer>16</integer>
				<key>right</key>
				<integer>17</integer>
			</dict>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>9</integer>
			<key>blurb</key>
			<string>Mr. Trump do you have any response to Megyn Kelly&apos;s questions during the first debate?</string>
			<key>category</key>
			<string>Women</string>
			<key>choices</key>
			<dict>
				<key>left</key>
				<integer>18</integer>
				<key>right</key>
				<integer>19</integer>
			</dict>
			<key>imagePath</key>
			<string></string>
		</dict>
	</array>
	<key>choices</key>
	<array>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>response</key>
			<string>We need extreme vetting to defeat radical Islam.</string>
			<key>quote</key>
			<string>Any who have hostile attitudes to our country or its principles, or who believe Sharia law should supplant American law. Will not be admitted to our country.</string>
			<key>reference</key>
			<string>https://www.youtube.com/watch?v=7Nd9t8nl3LE</string>
			<key>audioPath</key>
			<string></string>
			<key>electorateEffect</key>
			<dict>
				<key>africanAmerican</key>
				<integer>-2</integer>
				<key>asianAmerican</key>
				<integer>-1</integer>
				<key>latinoAmerican</key>
				<integer>-2</integer>
				<key>whiteCollegeEducated</key>
				<integer>-1</integer>
				<key>whiteNonCollegeEducated</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>response</key>
			<string>We will ban muslims from entering the country.</string>
			<key>quote</key>
			<string>Donald J. Trump is calling for a total and complete shutdown of Muslims entering the United States until our representatives can figure what the hell is going on.</string>
			<key>reference</key>
			<string>https://www.youtube.com/watch?v=-sz0KY-3PbQ</string>
			<key>audioPath</key>
			<string></string>
			<key>electorateEffect</key>
			<dict>
				<key>africanAmerican</key>
				<integer>-5</integer>
				<key>asianAmerican</key>
				<integer>-5</integer>
				<key>latinoAmerican</key>
				<integer>-5</integer>
				<key>whiteCollegeEducated</key>
				<integer>-5</integer>
				<key>whiteNonCollegeEducated</key>
				<integer>-5</integer>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>response</key>
			<string>I never said that.</string>
			<key>quote</key>
			<string>I did not, I did not. I do not say that.</string>
			<key>reference</key>
			<string>https://youtu.be/rzYx9WOlMek?t=22s</string>
			<key>audioPath</key>
			<string></string>
			<key>electorateEffect</key>
			<dict>
				<key>africanAmerican</key>
				<integer>-2</integer>
				<key>asianAmerican</key>
				<integer>-3</integer>
				<key>latinoAmerican</key>
				<integer>-2</integer>
				<key>whiteCollegeEducated</key>
				<integer>-2</integer>
				<key>whiteNonCollegeEducated</key>
				<integer>3</integer>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>response</key>
			<string>It&apos;s a hoax created by the Chinese to take advantage of us.</string>
			<key>quote</key>
			<string>The concept of global warming was created by and for the Chinese in order to make U.S. manufacturing non-competitive.</string>
			<key>reference</key>
			<string>Twitter Nov/06/2012</string>
			<key>audioPath</key>
			<string></string>
			<key>electorateEffect</key>
			<dict>
				<key>africanAmerican</key>
				<integer>-3</integer>
				<key>asianAmerican</key>
				<integer>-4</integer>
				<key>latinoAmerican</key>
				<integer>-3</integer>
				<key>whiteCollegeEducated</key>
				<integer>-3</integer>
				<key>whiteNonCollegeEducated</key>
				<integer>5</integer>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>response</key>
			<string>A country needs to have and protect its borders and keep drugs out.</string>
			<key>quote</key>
			<string>We have to have strong borders. We have to the drugs out of our country. We are, right now we&apos;re getting the drugs they are getting the cash. </string>
			<key>reference</key>
			<string>https://www.youtube.com/watch?v=AneeacsvNwU</string>
			<key>audioPath</key>
			<string></string>
			<key>electorateEffect</key>
			<dict>
				<key>africanAmerican</key>
				<integer>-2</integer>
				<key>asianAmerican</key>
				<integer>-1</integer>
				<key>latinoAmerican</key>
				<integer>-4</integer>
				<key>whiteCollegeEducated</key>
				<integer>-2</integer>
				<key>whiteNonCollegeEducated</key>
				<integer>5</integer>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>response</key>
			<string>They&apos;re bringing drugs. They&apos;re bringing crime. They&apos;re rapists.</string>
			<key>quote</key>
			<string>When Mexico sends its people, they’re not sending their best. They’re not sending you. They’re not sending you. They’re sending people that have lots of problems, and they’re bringing those problems with us. They’re bringing drugs. They’re bringing crime. They’re rapists. And some, I assume, are good people.</string>
			<key>reference</key>
			<string>https://www.washingtonpost.com/news/fact-checker/wp/2015/07/08/donald-trumps-false-comments-connecting-mexican-immigrants-and-crime/</string>
			<key>audioPath</key>
			<string></string>
			<key>electorateEffect</key>
			<dict>
				<key>africanAmerican</key>
				<integer>-2</integer>
				<key>asianAmerican</key>
				<integer>-1</integer>
				<key>latinoAmerican</key>
				<integer>-5</integer>
				<key>whiteCollegeEducated</key>
				<integer>-2</integer>
				<key>whiteNonCollegeEducated</key>
				<integer>5</integer>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>6</integer>
			<key>response</key>
			<string>She doesn&apos;t quit and she doesn&apos;t give up. She&apos;s a fighter.</string>
			<key>quote</key>
			<string>I will say this about Hillary; she doesn’t quit and she doesn’t give up. I respect that. She’s a fighter. I disagree with much of what she’s fighting for…But she does fight hard, and doesn’t quit, and I consider that to be a very good trait.</string>
			<key>reference</key>
			<string>http://deadline.com/2016/10/donald-trump-hillary-clinton-forced-to-say-something-positive-about-other-presidential-debate-1201833833/</string>
			<key>audioPath</key>
			<string></string>
			<key>electorateEffect</key>
			<dict>
				<key>africanAmerican</key>
				<integer>3</integer>
				<key>asianAmerican</key>
				<integer>3</integer>
				<key>latinoAmerican</key>
				<integer>2</integer>
				<key>whiteCollegeEducated</key>
				<integer>4</integer>
				<key>whiteNonCollegeEducated</key>
				<integer>-1</integer>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>7</integer>
			<key>response</key>
			<string>Crooked Hillary</string>
			<key>quote</key>
			<string>She is as crooked as they come.</string>
			<key>reference</key>
			<string>https://www.youtube.com/watch?v=z_u4rq_03Y0</string>
			<key>audioPath</key>
			<string></string>
			<key>electorateEffect</key>
			<dict>
				<key>africanAmerican</key>
				<integer>-2</integer>
				<key>asianAmerican</key>
				<integer>-2</integer>
				<key>latinoAmerican</key>
				<integer>-1</integer>
				<key>whiteCollegeEducated</key>
				<integer>5</integer>
				<key>whiteNonCollegeEducated</key>
				<integer>-1</integer>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>8</integer>
			<key>response</key>
			<string>I have a great relationship with the blacks.</string>
			<key>quote</key>
			<string>I have a great relationship with the blacks. I&apos;ve always had a great relationship with the blacks.</string>
			<key>reference</key>
			<string>http://www.politico.com/magazine/story/2015/08/the-absolute-trumpest-121328?o=0</string>
			<key>audioPath</key>
			<string></string>
			<key>electorateEffect</key>
			<dict>
				<key>africanAmerican</key>
				<integer>-3</integer>
				<key>asianAmerican</key>
				<integer>0</integer>
				<key>latinoAmerican</key>
				<integer>-1</integer>
				<key>whiteCollegeEducated</key>
				<integer>4</integer>
				<key>whiteNonCollegeEducated</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>9</integer>
			<key>response</key>
			<string>I don&apos;t like them counting my money.</string>
			<key>quote</key>
			<string>I have black guys counting my money. I hate it. The only guys I want counting my money are short guys that wear yarmulkes all day.</string>
			<key>reference</key>
			<string>USA Today, May 20, 1991</string>
			<key>audioPath</key>
			<string></string>
			<key>electorateEffect</key>
			<dict>
				<key>africanAmerican</key>
				<integer>-5</integer>
				<key>asianAmerican</key>
				<integer>-1</integer>
				<key>latinoAmerican</key>
				<integer>-3</integer>
				<key>whiteCollegeEducated</key>
				<integer>2</integer>
				<key>whiteNonCollegeEducated</key>
				<integer>-3</integer>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>10</integer>
			<key>response</key>
			<string>Such a nasty woman.</string>
			<key>quote</key>
			<string>Such a nasty woman.</string>
			<key>reference</key>
			<string>http://www.cnn.com/2016/10/19/politics/donald-trump-hillary-clinton-nasty-woman/</string>
			<key>audioPath</key>
			<string></string>
			<key>electorateEffect</key>
			<dict>
				<key>africanAmerican</key>
				<integer>-5</integer>
				<key>asianAmerican</key>
				<integer>-1</integer>
				<key>latinoAmerican</key>
				<integer>-3</integer>
				<key>whiteCollegeEducated</key>
				<integer>2</integer>
				<key>whiteNonCollegeEducated</key>
				<integer>-3</integer>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>11</integer>
			<key>response</key>
			<string>She can&apos;t satisfy her husband how can she satisfy America?</string>
			<key>quote</key>
			<string>If Hillary Clinton can’t satisfy her husband what makes her think she can satisfy America?</string>
			<key>reference</key>
			<string>Twitter, April 16, 2015. Retweeted then deleted.</string>
			<key>audioPath</key>
			<string></string>
			<key>electorateEffect</key>
			<dict>
				<key>africanAmerican</key>
				<integer>-5</integer>
				<key>asianAmerican</key>
				<integer>-1</integer>
				<key>latinoAmerican</key>
				<integer>-3</integer>
				<key>whiteCollegeEducated</key>
				<integer>2</integer>
				<key>whiteNonCollegeEducated</key>
				<integer>-3</integer>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>12</integer>
			<key>response</key>
			<string>Ted Cruz is a tough, smart guy. We like Ted Cruz.</string>
			<key>quote</key>
			<string>He is one hell of a competitor. He is a tough, smart guy.</string>
			<key>reference</key>
			<string>https://www.youtube.com/watch?v=WIGQDXKrgCc</string>
			<key>audioPath</key>
			<string></string>
			<key>electorateEffect</key>
			<dict>
				<key>africanAmerican</key>
				<integer>-2</integer>
				<key>asianAmerican</key>
				<integer>-1</integer>
				<key>latinoAmerican</key>
				<integer>-1</integer>
				<key>whiteCollegeEducated</key>
				<integer>3</integer>
				<key>whiteNonCollegeEducated</key>
				<integer>5</integer>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>13</integer>
			<key>response</key>
			<string>Lying Ted&apos;s father was with Oswald prior to Oswald shooting JFK.</string>
			<key>quote</key>
			<string>His father was with Lee Harvey Oswald prior to Oswald being, you know, shot. I mean the whole thing is ridiculous. What is this? Right? Prior to his being shot. And nobody even brings it up. I mean, they don&apos;t even talk about that — that was reported. And nobody talks about it.</string>
			<key>reference</key>
			<string>https://www.washingtonpost.com/news/the-fix/wp/2016/09/23/9-truly-awful-things-that-were-said-between-ted-cruz-and-the-man-hell-now-support-donald-trump/?utm_term=.8ab7718e7d04</string>
			<key>audioPath</key>
			<string></string>
			<key>electorateEffect</key>
			<dict>
				<key>africanAmerican</key>
				<integer>-1</integer>
				<key>asianAmerican</key>
				<integer>-1</integer>
				<key>latinoAmerican</key>
				<integer>-2</integer>
				<key>whiteCollegeEducated</key>
				<integer>1</integer>
				<key>whiteNonCollegeEducated</key>
				<integer>3</integer>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>14</integer>
			<key>response</key>
			<string>I absolutely love the people of Iowa.</string>
			<key>quote</key>
			<string>Thank you. Thank you very much. I love you people. I love you people. Thank you. Unbelievable. I have to start by saying, I absolutely love the people of Iowa. Unbelievable. Unbelievable.</string>
			<key>reference</key>
			<string>https://www.youtube.com/watch?v=SlKAFgWaxPA</string>
			<key>audioPath</key>
			<string></string>
			<key>electorateEffect</key>
			<dict>
				<key>africanAmerican</key>
				<integer>2</integer>
				<key>asianAmerican</key>
				<integer>1</integer>
				<key>latinoAmerican</key>
				<integer>2</integer>
				<key>whiteCollegeEducated</key>
				<integer>4</integer>
				<key>whiteNonCollegeEducated</key>
				<integer>5</integer>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>15</integer>
			<key>response</key>
			<string>How stupid are the people of Iowa?</string>
			<key>quote</key>
			<string>How stupid are the people of Iowa? How stupid are the people of the country, to believe this crap?</string>
			<key>reference</key>
			<string>https://www.youtube.com/watch?v=PRUc11fPAwk</string>
			<key>audioPath</key>
			<string></string>
			<key>electorateEffect</key>
			<dict>
				<key>africanAmerican</key>
				<integer>-2</integer>
				<key>asianAmerican</key>
				<integer>-3</integer>
				<key>latinoAmerican</key>
				<integer>-3</integer>
				<key>whiteCollegeEducated</key>
				<integer>-4</integer>
				<key>whiteNonCollegeEducated</key>
				<integer>-5</integer>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>16</integer>
			<key>response</key>
			<string>Nobody has more respect for women more than I do.</string>
			<key>quote</key>
			<string>Nobody has more respect for women than I do. Nobody.</string>
			<key>reference</key>
			<string>https://www.youtube.com/watch?v=9B7KPRo30y4</string>
			<key>audioPath</key>
			<string>DJT-NobodyRespectsWomenMoreThanIDo</string>
			<key>electorateEffect</key>
			<dict>
				<key>africanAmerican</key>
				<integer>-2</integer>
				<key>asianAmerican</key>
				<integer>-1</integer>
				<key>latinoAmerican</key>
				<integer>-2</integer>
				<key>whiteCollegeEducated</key>
				<integer>-1</integer>
				<key>whiteNonCollegeEducated</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>17</integer>
			<key>response</key>
			<string>Grab them by the pussy.</string>
			<key>quote</key>
			<string>When you&apos;re a star they let you do it. You can do anything. Grab them by the pussy. You can do anything.</string>
			<key>reference</key>
			<string>https://www.youtube.com/watch?v=qyE7jzhDEG0</string>
			<key>audioPath</key>
			<string>DJT-GrabEmByThePussy</string>
			<key>electorateEffect</key>
			<dict>
				<key>africanAmerican</key>
				<integer>-5</integer>
				<key>asianAmerican</key>
				<integer>-5</integer>
				<key>latinoAmerican</key>
				<integer>-5</integer>
				<key>whiteCollegeEducated</key>
				<integer>-5</integer>
				<key>whiteNonCollegeEducated</key>
				<integer>-5</integer>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>18</integer>
			<key>response</key>
			<string>I have great respect for Megyn Kelly.</string>
			<key>quote</key>
			<string>I have great respect for Megyn Kelly.</string>
			<key>reference</key>
			<string>http://dailycaller.com/2016/05/09/trump-praises-megyn-kelly-for-reaching-out-to-him-i-have-great-respect-for-you-video/</string>
			<key>audioPath</key>
			<string></string>
			<key>electorateEffect</key>
			<dict>
				<key>africanAmerican</key>
				<integer>2</integer>
				<key>asianAmerican</key>
				<integer>3</integer>
				<key>latinoAmerican</key>
				<integer>1</integer>
				<key>whiteCollegeEducated</key>
				<integer>3</integer>
				<key>whiteNonCollegeEducated</key>
				<integer>5</integer>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>19</integer>
			<key>response</key>
			<string>She had blood coming out of her wherever.</string>
			<key>quote</key>
			<string>You know, you could see there was blood coming out of her eyes. Uh. Blood coming out of - her wherever.</string>
			<key>reference</key>
			<string>https://www.youtube.com/watch?v=M28z9y4yT6Y</string>
			<key>audioPath</key>
			<string></string>
			<key>electorateEffect</key>
			<dict>
				<key>africanAmerican</key>
				<integer>-2</integer>
				<key>asianAmerican</key>
				<integer>-3</integer>
				<key>latinoAmerican</key>
				<integer>-3</integer>
				<key>whiteCollegeEducated</key>
				<integer>-4</integer>
				<key>whiteNonCollegeEducated</key>
				<integer>-5</integer>
			</dict>
		</dict>
	</array>
</dict>
</plist>
